pip install pyodbc
pip install pandas
pip install numpy
pip install sqlalchemy
pip install plotly
pip install cachetools
pip install joblib
pip install fpdf
pip install pdfkit
pip install reportlab
pip install folium
pip install configparser
pip install base64
pip install dash-bootstrap-components
pip install dash-ag-grid
